<div class="body backBlack" *ngIf="!gameList">
    <div class="grande center">
      <span class="loader center"></span>
    </div>
</div>
  
<div class="body backBlack" *ngIf="gameList">
    <div class="container-flex backBlack">
      <div class="row galery ">
  
          <!-- Tarjeta de cada trend -->
          <div class="container-flex galery-img" *ngFor="let game of gameList">
              <div class="row card fondo" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title center">{{ game }} -> <button class="btn EZbtn" (click)="deleteGame(game)">DELETE</button></h4>
                </div>
              </div>
          </div>
          <!-- -------------------- -->

          <div class="galery-img">
            <div class="row card fondo" style="width: 18rem;">
              <div class="center card-body">
                <a class="btn EZbtn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                  <h4 class="card-title center">ADD NEW</h4>
                </a>
              </div>
            </div>
          </div>
  
      </div>

      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header white" style="background: linear-gradient(200deg, rgba(0,0,0) 40%, rgba(255,0,0,0.9284664549413515) 100%)">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add new Interest</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: black;">
          <div>
            <form class="formulario backBlack white" enctype="multipart/form-data" (ngSubmit)="save($event)" [formGroup]="myForm"> 
              <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" formControlName="name" name="name" id="name">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>