
<div class="body backBlack">
  <p class="breadCramp">Trend's List</p>
  <div class="container-flex backBlack">
    <div class="row galery ">

        <!-- Tarjeta de cada trend -->
        <div class="galery-img ">
          <a class="trend-link" [routerLink]="['/trends/trend/1']">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-title">Title of Trend</h4>
                <hr>
                <p class="card-text">There is a random description of this post, so you can create an idea of what's inside.
                  So if there was an unitentional message of a larger description... What I would be do? 
                  In that case that happens
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- -------------------- -->
        

    </div>
  </div>
</div>  

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>