<div class="body backBlack" *ngIf="!trendList">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack" *ngIf="trendList">
  <div class="container-flex backBlack">
    <div class="row galery ">

        <!-- Tarjeta de cada trend -->
        <div class="galery-img" *ngFor="let trend of trendList">
          <a class="trend-link" [routerLink]="['/trends/trend/', trend.name]">
            <div class="card fondo" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-title center">#{{ trend.name }}</h4>
              </div>
            </div>
          </a>
        </div>
        <!-- -------------------- -->
        

    </div>
  </div>
</div>  

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>