

    <div class="container-flex footer">
      <div class="row">
        <div class="col-md-4 col-sm-12 center">
          
          <div class="terms white">
            <h1>Reserved rights</h1>
            <p>EzDates© 2023-2023</p>
          </div>
          
        </div>
        <div class="col-md-4 col-sm-12 center">
          
          <div class="terms white">
            <h1>General info.</h1>
            <p><a [routerLink]="['/terms','ESP']">ESP - Privacy policy / Legal terms</a></p>
            <p><a [routerLink]="['/terms','ENG']">ENG - Privacy policy / Legal terms</a></p>
          </div>
          
        </div>
        <div class="col-md-4 col-sm-12 center">
          
          <div class="terms white">
            <h1>Contact</h1>
            <p>Mail: <a [routerLink]="['']">SoyLuke_03</a></p>
            <p><a href="https://www.instagram.com/antoniogl__03/">Social Network</a></p>
          </div>
          
        </div>
      </div>
    </div>
