.foto {
  max-width: 380px;
  max-height: 500px;
}

.profile-img{
  width: auto;
  height: auto;
}

.EZbtn{
    background-color: rgba(108, 0, 0, 0.801);
    color: white;
    border-color: aliceblue;
    border-width: 2px;
}

.searchUser{
    background-color: black;
    color: antiquewhite;
    height: 35px;
    padding: 5px;
    border-radius: 15px;
}

.border-form{
  border-width: 2px;
  border-style: ridge;
  border-color: aliceblue;
  padding: 2px;
  border-radius: 10px;
}

.input {
  width: 90%;
}

.searchUser::placeholder{
  color: antiquewhite;
}

.white{
    color: aliceblue;
}

.table{
    border: 5px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
}

.border-form-delete {
  width: 80%;
  margin: auto;
}

.sepparate{
  margin: 5px;
  
}

.datatable{
    width: 100%;
}

/**/

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .sorting:hover{
    color: red;
  }

/**/

/* Estilo para las opciones de tamaño de página */
::ng-deep .mat-paginator-outer-container {
  background-color: rgb(21, 21, 21);
  color: white;
}

::ng-deep .mat-select-value, ::ng-deep .mat-select-arrow{
  color: white;
}
