
<div class="body backBlack">
  <p class="breadCramp">Post's List > Remove Post</p>
  <form class="formulario backBlack white" (ngSubmit)="save($event)" [formGroup]="myForm"> 
    <div class="container-flex center">
        <div class="row">
            <div class="col-md-8 col-sm-12 center">
                <div class="border-form">
                        <!--Formulario de registro-->
                        <label class="form-label">Title</label><br>
                        <input readonly class="sepparate form-control input" type="text" id="title" name="title" formControlName="title" placeholder="{{ post.title }}" value="{{ post.title }}" maxlength="199">
  
                        <br>
  
                        <label class="form-label">Description</label><br>
                        <input readonly class="sepparate form-control input" type="text" id="description" name="description" formControlName="description" placeholder="{{ post.description }}" value="{{ post.description }}">
  
                        <br>
  
  
                        <label class="form-label">Image URL</label><br>
                        <input readonly class="sepparate form-control input" type="text" id="imgURL" name="imgURL" formControlName="imgURL" placeholder="{{ post.imgurl }}" value="{{ post.imgurl }}" >
  
  
                            <!--CAMPOS OCULTOS PARA LA API DE SPRING-->
                            <input readonly disabled class="sepparate form-control input" type="hidden" id="date" name="date" placeholder="{{ post.date }}" value="{{ post.date }}">
                            <!-- -------------------- -->
                        <br>

                        <label class="form-label">Trends</label><br>
                        <input disabled readonly class="sepparate form-control input" type="text" id="trends" name="trends" placeholder="Trend1,Trend2,Trend3..." maxlength="199">
    
                        <!-- -------------------- -->
                        <br><br>                   
  
                    
                </div>
            </div>
            
                <br><br>
                <div class="border-form col-8 center">
                    <input class="btn btn-success sepparate" type="submit" value="Remove"> 
                    <a [routerLink]="['/posts/post/', post.id ]"><button  class="btn btn-danger sepparate">Cancel</button></a>
                </div>
            </div>
        </div>
  </form>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>