
<div class="body backBlack" *ngIf="!post">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack" *ngIf="post">
  <form class="formulario backBlack white" (ngSubmit)="save($event)" [formGroup]="myForm"> 
    <div class="container-flex center">
        <div class="row">
            <div class="col-md-8 col-sm-12 center">
                <div class="border-form">
                        <!--Formulario de registro-->
                        <label class="form-label">Title</label><br>
                        <input readonly class="sepparate form-control input" type="text" id="title" name="title" formControlName="title" placeholder="{{ post.title }}" value="{{ post.title }}" maxlength="199">
  
                        <br>
  
                        <label class="form-label">Description</label><br>
                        <input readonly class="sepparate form-control input" type="text" id="description" name="description" formControlName="description" placeholder="{{ post.description }}" value="{{ post.description }}">
  
                        <br>
                        
                        <input readonly class="sepparate form-control input hidden" type="text" id="imgURL" name="imgURL" formControlName="imgURL" placeholder="{{ post.imgurl }}" value="{{ post.imgurl }}" >
                        
                        <input readonly disabled class="sepparate form-control input hidden" type="hidden" id="date" name="date" placeholder="{{ post.date }}" value="{{ post.date }}">
                        <h3>Are you sure you want to delete this?</h3> 
                        
                        <input disabled readonly class="sepparate form-control input hidden" type="text" id="trends" name="trends" placeholder="Trend1,Trend2,Trend3..." maxlength="199">
                        <div class="border-form col-8 center">
                          <input class="btn btn-success sepparate" type="submit" value="Remove"> 
                          <a [routerLink]="['/posts/post/', post.id ]"><button  class="btn btn-danger sepparate">Cancel</button></a>
                        </div>
                        <br><br>                   
  
                    
                </div>
            </div>
            

            </div>
        </div>
  </form>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>