
<div class="body backBlack">
  <p class="breadCramp backBlack">Post's List > Add Post</p>


  <form class="formulario backBlack white" enctype="multipart/form-data" (ngSubmit)="save($event)" [formGroup]="myForm"> 
    <div class="container-flex center">
        <div class="row">
            <div class="col-md-8 col-sm-12 center">
                <div class="border-form">
                  <!--Formulario de registro-->
                  <label class="form-label">Title</label><br>
                  <input required class="sepparate form-control input" type="text" id="title" name="title" formControlName="title" placeholder="explameTitle" maxlength="199">
                    <span class="form-text text-danger" 
                    *ngIf="notValid('title')">
                        Title is required and length less than 200 characters 
                    </span>
                  <br>

                  <label class="form-label">Description</label><br>
                  <input required class="sepparate form-control input" type="text" id="description" name="description" formControlName="description" placeholder="Put here what you think...">
                    <span class="form-text text-danger" 
                    *ngIf="notValid('description')">
                        Description is required and length less than 200 characters 
                    </span>
                  <br>


                  <label class="form-label">Image</label><br>
                  <input class="sepparate form-control input" type="file" id="file" name="file" formControlName="file">
                    <span class="form-text text-danger" 
                    *ngIf="notValid('file')">
                        Image is required
                    </span>
                      
                  <br>
                        <!--CAMPOS OCULTOS PARA LA API DE SPRING-->
                        <input class="sepparate form-control input" type="hidden" id="date" name="date" placeholder="date">
                        <!-- -------------------- -->
                      
                  <label class="form-label">Trends (sepparated by commas)</label><br>
                <input class="sepparate form-control input" type="text" id="trends" name="trends" placeholder="Trend1,Trend2, Trend3..." maxlength="199">

                      
                  <!-- -------------------- -->
                  <br><br>                   
                </div>
            </div>
            
                <br><br>
                <div class="border-form col-8 center">
                    <input class="btn btn-success sepparate" type="submit" [disabled]="myForm.invalid" value="Submit"> 
                    <input class="btn btn-danger sepparate" type="reset" value="Cancel">
                    <a [routerLink]="['/posts/list']"><button  class="btn btn-info sepparate">Return</button></a>
                </div>
            </div>
        </div>
  </form>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>