<div class="body container-flex backBlack">
  <div class="container mat-elevation-z8 white">
    <div class="white ">
        <input matInput name="filterWord" [(ngModel)]="filterWord" (keyup.enter)="applyFilter()" placeholder="Search...">
        <hr>
    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell class="sorting d-sm-block" *matHeaderCellDef mat-sort-header> username </mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-sm-block"> {{row.username}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container class="d-none d-sm-block" matColumnDef="name">
        <mat-header-cell class="sorting d-none d-sm-block" *matHeaderCellDef mat-sort-header> name </mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-none d-sm-block"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Surname Column -->
      <ng-container class="d-none d-sm-block" matColumnDef="surname">
        <mat-header-cell class="sorting d-none d-sm-block" *matHeaderCellDef mat-sort-header> surname </mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-none d-sm-block"> {{row.surname}} </mat-cell>
      </ng-container>

      <!-- Boton Column -->
      <ng-container class="d-none d-sm-block" matColumnDef="boton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/users/user/',row.username]">
            <button class="btn EZbtn">View Profile</button>
          </a>   
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
  </div>
</div>


<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p><a [routerLink]="['/terms']">ESP Privacy policy / Legal terms</a></p>
          <p><a [routerLink]="['']">ENG Privacy policy / Legal terms</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>