
<div class="body container-flex backBlack">
  <p class="breadCramp">User's List</p>
  <table class="table table-hover table-dark table-striped">
    <thead>
      <td>USERNAME</td>
      <td>EMAIL</td>
      <td class="d-none d-sm-table-cell">NAME</td>
      <td class="d-none d-sm-table-cell">SURNAME</td>
    </thead>
    <tbody>
      <tr>
        <td>SoyLuke_03</td>
        <td>SoyLuke03</td>
        <td class="d-none d-sm-table-cell">Antonio</td>
        <td class="d-none d-sm-table-cell">Gonzalez</td>
        <td><a [routerLink]="['/users/user/1']">PROFILE</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>