
<div class="body backBlack">
<p class="breadCramp">User's List > Delete user</p>
<form (ngSubmit)="save($event)" [formGroup]="myForm" class="backBlack white"> 
  <div class="container-flex center">
    <br>
      <div class="row ">

          <div class="col-md-12 col-sm-12">
              <div class="border-form">
                      <!--Formulario de registro-->
                      <label class="form-label">*Username</label><br>
                      <input required class="sepparate form-control input" type="text" id="username" name="username"  placeholder="{{user.username}}">

                      <br>

                      <label class="form-label">Email</label><br>
                      <input readonly  class="sepparate form-control input" type="email" id="email" name="email"  placeholder="{{user.email}}">

                      <br>

                      <label class="form-label">Name</label><br>
                      <input class="sepparate form-control input" type="text" id="name" name="name" placeholder="{{user.name}}">

                      <br>
                      
                      <label class="form-label">*Surname</label><br>
                      <input required class="sepparate form-control input" type="text" id="surname" name="surname" placeholder="{{user.surname}}">

                          <!--CAMPOS OCULTOS PARA LA API DE SPRING-->
                          <input class="sepparate form-control input" type="hidden" id="verCode" name="verCode" placeholder="verCode">
                          
                          <input class="sepparate form-control input" value="false" type="hidden" id="enabled" name="enabled" placeholder="enabled">
                          
                          <input class="sepparate form-control input" value="USER_ROLE" type="hidden" id="rol" name="rol" placeholder="rol">
                          <!-- -------------------- -->

                      <!-- -------------------- -->
                      <br><br>                   

                  
              </div>
          </div>
          <div class="col-md-12">
              <br><br>
              <div class="border-form">
                  <input class="btn btn-success sepparate" type="submit" value="Remove"> 
                  <a [routerLink]="['/users/user/', user.username]"><button  class="btn btn-danger sepparate">Cancel</button></a>
              </div>
          </div>
      </div>
      <br>
      <br>
  </div>
</form>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>