<div class="container-flex">
    <!--HEADER-->
    <div class="header row">
        <div class="center col-md-3 col-sm-4 col-xs-2">
            <img class="logo" src="../../../assets/serverdedisc.png" alt="Logo de EZdates">
        </div>
        <div class="col-sm-8 col-md-9 center">
            <h1 class="title">Ez Dates</h1>
            <h5 class="subtitle">"Find your duo to get the win"</h5>
        </div>
    </div>  

    <!--NAVIGATION BAR-->
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid ">
        <a class="navbar-brand">
          Menu: 
        </a>
        <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a [routerLink]="['/logs/logout']" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                Log out
              </a>
            </li>
          </ul>
          
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a [routerLink]="['/posts/list']" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                Home
              </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a [routerLink]="['/trends/list']" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                Trends
              </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a [routerLink]="['/users/list']" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                Search User
              </a>
            </li>
          </ul>


        </div>
        
      </div>
      
    </nav>  
    <!---->
</div>

<!-- ---------------- -->
<div class="body backBlack">
<p class="breadCramp">Trend's List > Update trend</p>
<form class="formulario backBlack white" (ngSubmit)="save($event)" [formGroup]="myForm"> 
  <div class="container-flex center">
      <div class="row">
          <div class="col-md-8 col-sm-12 center">
              <div class="border-form">
                <br>
                      <!--Formulario de registro-->
                      <label class="form-label">Title</label><br>
                      <input required class="sepparate form-control input" type="text" id="title" name="title" formControlName="title" placeholder="explameTitle" maxlength="199">
                        <span class="form-text text-danger" 
                        *ngIf="notValid('title')">
                            Title is required and length less than 200 characters 
                        </span>
                      <br><br>
                      
                      <!-- -------------------- -->                  
                  
              </div>
          </div>
          
              <br><br>
              <div class="border-form col-8 center">
                <input class="btn btn-success sepparate" type="submit" value="Remove"> 
                <a [routerLink]="['/trends/trend/1']"><button  class="btn btn-danger sepparate">Cancel</button></a>
            </div>
          </div>
      </div>
</form>
</div>
<!-- ---------------- -->

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>