<div class="body backBlack" *ngIf="!trend">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack" *ngIf="trend">
<form class="formulario backBlack white" (ngSubmit)="save($event)" [formGroup]="myForm"> 
  <div class="container-flex center">
      <div class="row">
          <div class="col-md-8 col-sm-12 center">
              <div class="border-form">
                <br>
                      <!--Formulario de registro-->
                      <label class="form-label">Title</label><br>
                      <input required class="sepparate form-control input" type="text" id="name" name="name" formControlName="name" placeholder="{{trend.name}}" maxlength="199">
                        <span class="form-text text-danger" 
                        *ngIf="notValid('title')">
                            Title is required and length less than 200 characters 
                        </span>
                      <br><br>
                      
                      <!-- -------------------- -->                  
                  
              </div>
          </div>
          
              <br><br>
              <div class="border-form col-8 center">
                <input class="btn btn-success sepparate" type="submit" value="Submit"> 
                <a [routerLink]="['/trends/trend/', trend.name]"><button  class="btn btn-danger sepparate">Cancel</button></a>
            </div>
          </div>
      </div>
</form>
</div>

