<div class="body backBlack" *ngIf="!listaPosts">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack" *ngIf="listaPosts" id="top" name="top">
  <div class="container-flex">
    <div class="row galery">

        <!-- Tarjeta de cada post -->
        <div *ngFor="let post of listaPosts" class="galery-img">
          <div class="card" style="width: 18rem;">
            <div class="profile-link-badge">
              <a class="profile-link center" [routerLink]="['/users/user/', post.userId]">{{ post.userId }}</a>
            </div>
            <a [routerLink]="['/posts/post/', post.id]" >
              <img *ngIf="post.imgurl" src="{{ post.imgurl }}" class="card-img-top" alt="Image of the user ...">
              <!--Si no hay foto, una por defecto-->
              <img *ngIf="!post.imgurl" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="Image not found ...">
            </a>
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <hr>
              <!--TRENDS y LIKES-->
              <sub>
                <!--  -->
                <p class="row">
                  <a *ngIf="post.trendsList.length>0" class="btn backBlack white col-sm-6" data-bs-toggle="collapse" href="#{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Show trends
                  </a>
                  <a *ngIf="!post.trendsList.length" class="btn backBlack white col-sm-6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    No trends
                  </a>
                  <span class="col-sm-2"></span>
                  <button (click)="addLike(post.id)" class="btn backBlack white col-sm-4">{{ post.likes.length }}</button>
                </p>
                <div class="collapse" id="{{post.id}}">
                  <div class="card card-body trend-gallery">
                    <input class="btn hashtag trend-gallery-img" [routerLink]="['/trends/trend', trend.trend.name]" type="button" value="#{{ trend.trend.name }}" *ngFor="let trend of post.trendsList">
                  </div>
                </div>
                <!--  -->
              </sub>
              <!---------->
              <hr>
              <p class="card-text">{{ post.description }}</p>
              <!--COMMENTS-->
              <sub>
                <!--  -->
                <p class="row">
                  <a class="btn backBlack white" data-bs-toggle="collapse" href="#{{post.id}}comments" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Show Comments
                  </a>
                </p>
                <div class="collapse center" id="{{post.id}}comments">
                  <div class="submit-comment">
                    <input type="text" class="form-control" (keydown.enter)="submitNewComment(post.id)" id="comment" [(ngModel)]="comment" name="comment" placeholder="Put a new comment...">
                  </div>                  
                  <div class="comment-section card card-body">
                    <p class="comment" *ngFor="let comment of post.comments"><span class="comment-user">{{comment.user}}:</span>  {{ comment.message }}</p>
                  </div>
                </div>
                <!--  -->
              </sub>
              <!------------>
              <p class="date">{{ post.date[2] }}/{{post.date[1]}}/{{post.date[0]}} | {{post.date[3]}}:{{post.date[4]}}</p>
            </div>
          </div>
        </div>
        <!-- -------------------- -->
        <div>
          <a href="posts/list#top">
            <button class="anchor">
              Go up
            </button>
          </a>
        </div>
    </div>
  </div>
</div>  
