
<div class="body backBlack">
  <p class="breadCramp">Trend's List > Delete trend</p>
<form class="formulario backBlack white" (ngSubmit)="save($event)" [formGroup]="myForm"> 
  <div class="container-flex center">
      <div class="row">
          <div class="col-md-8 col-sm-12 center">
              <div class="border-form">
                <br>
                      <!--Formulario de registro-->
                      <label class="form-label">Title</label><br>
                      <input readonly class="sepparate form-control input" type="text" id="title" name="title" formControlName="title" placeholder="{{trend.name}}" maxlength="199">
                      <br><br>
                      
                      <!-- -------------------- -->                  
                  
              </div>
          </div>
          
              <br><br>
              <div class="border-form col-8 center">
                  <input class="btn btn-success sepparate" type="submit" value="Remove"> 
                  <a [routerLink]="['/trends/trend/', trend.name]"><button  class="btn btn-danger sepparate">Cancel</button></a>
              </div>
          </div>
      </div>
</form>
</div>



<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>