.chat-body {
    width: 80%;
    max-width: 700px;
    
    margin: auto; 
    margin-top: 100px;
}

.borde-chat {
    border: 5px;
    border-style: ridge;
    border-radius: 15px;
    border-color: darkgray;
    background-color: #000000;
    padding: 10px;
    min-height: 200px;
    max-height: 500px;
}

.white-text {
    color: white;
    word-wrap: break-word
}

.black-text {
    color: black;
    word-wrap: break-word
}

.user-text {
    color: black;
    text-decoration: underline;   
}

.other-messages {
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
    background-color: rgb(250, 77, 77);
    max-width: 40%;
    min-width: 10%;
}

.my-messages {
    /* text-align: right; */
    width: 100%;
    text-align: -webkit-right;
}

/* .my-text {
    width: max-content;
} */

.q {
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
    background-color: antiquewhite;
    /* background-color: aliceblue; */
    max-width: 40%;
    min-width: 10%;
}

/* Estilo para la barra de desplazamiento vertical */
.borde-chat::-webkit-scrollbar {
    border-radius: 15px;
    width: 15px; /* Ancho de la barra de desplazamiento */
    background-color: #000000; /* Color de fondo de la barra de desplazamiento */
  }
  
  /* Estilo para el pulgar de la barra de desplazamiento */
  .borde-chat::-webkit-scrollbar-thumb {
    background-color: #ff0000ab; /* Color del pulgar */
    border-radius: 15px; /* Borde redondeado del pulgar */
  }
  
  /* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse por encima */
  .borde-chat::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; /* Color del pulgar al pasar el mouse por encima */
  }
  
  /* Estilo para las flechas de la barra de desplazamiento */
  .borde-chat::-webkit-scrollbar-button {
    display: none; /* Oculta las flechas de la barra de desplazamiento */
  }