<div style="width: 300px; margin: auto; margin-top: 100px;">
    <div class="mt-3">
        <div *ngFor="let message of myMessages">
            <label for="" style="font-weight: bold;">{{ message.user }}: </label>
            <span> {{ message.text }}</span>
        </div>
    </div>
    <div style="position: fixed;bottom: 0; background-color: red;">
        <label for=""> Hola <span style="font-weight: bold;">{{ userChat.user }}</span> ...Escribe algo</label>
        <input type="text" class="form-control" (change)="myMessage()" [(ngModel)]="userChat.text">
    </div>

</div>