<div class="chat-body">
    <div class="mt-3 borde-chat overflow-auto" #chatContainer>
        <div *ngFor="let message of myMessages">
            <div class="col-12">
                
                <div class="scrollspy-example" tabindex="0">
                    <div class="textos other-messages" *ngIf="userChat.user != message.user">
                        <a [routerLink]="['/users/user/', message.user]"><label class="user-text" title="{{message.user}}" style="font-weight: bold;">{{ message.user }}</label></a>
                        <span class="black-text" title="{{message.text}}">  {{ message.text }}</span>
                    </div>
                    <div class="textos my-messages" *ngIf="userChat.user == message.user">
                        <div class="q">
                            <span class="black-text my-text">{{ message.text }}  </span>
                            <label class="user-text" style="font-weight: bold;"> you</label>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br>
    <div>
        <input maxlength="255" placeholder="Hey {{userChat.user}} ... Write something" type="text" class="form-control" (change)="myMessage(); scrollToBottom()" [(ngModel)]="userChat.text">
    </div>
</div>

