
.center{
    text-align: center;
    margin: auto;
}

input {
    text-align: center;
}

.row div input{
    margin-bottom: 5px
}

.botones{
    min-width: 80px;
}
.border-form{
    border: 5px;
    border-style: outset;
    border-radius:25px;
    /* width: 100%; */
}

.row{
    margin-top: 30px;
}

.div-botones div{
    margin: auto;
}

.input{
    margin: auto;
    width: 95%;
}


.white{
    color: aliceblue;
}

