
<div class="body backBlack white">
  <p class="breadCramp">Trend's List > Trends</p>
  <div class="container-flex update">
    <div class="row">
      <div class="center">
        <!-- Tarjeta de cada post -->
        <div class="card center image subtitle" style="width: 18rem;">
          
          {{trend.name}}
          
        </div>
        <a [routerLink]="['/trends/update/', trend.name]"><button  class="btn EZbtn sepparate">Modify</button></a>
        <a [routerLink]="['/trends/delete/', trend.name]"><button  class="btn EZbtn sepparate">Delete</button></a>
        <a [routerLink]="['/trends/list']"><button  class="btn EZbtn sepparate">Return</button></a>


        <!-- -------------------- -->
      </div>
      <hr style="color: white;">

    </div>
  </div>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>