<form (ngSubmit)="save($event)" [formGroup]="myForm" class="backBlack white"> 
  <div class="container-flex center">
      <br>
      <div class="row ">
          <h1>Profile form</h1>
          
          <div class="center col-md-8 col-sm-12">
              <div class="border-form">
                <h4>NOTE: Fill this form and submit before selecting any options below</h4>
                      <!--Formulario de perfil-->
                      

                      <label class="form-label">Gender</label><br>
                      <select id="gender" name="gender" formControlName="gender" required>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Non Binary</option>
                        <option value="4">Other</option>
                        <option value="5">Does not say</option>
                      </select>
                      <br>

                      <label class="form-label">Image</label><br>
                      <input class="sepparate form-control input" (change)="onFileChange($event)" type="file" id="image" name="image" formControlName="image">
                        
                      <br>
                      
                      <label class="form-label">Bio</label><br>
                      <textarea required class="sepparate form-control input" type="text" id="bio" name="bio" formControlName="bio" placeholder="Write about you"></textarea>
                      

                      <!-- -------------------- -->
                      <br><br>                   

                  
              </div>
          </div>

          <div *ngIf="profile" class="center col-md-8 col-sm-12">
            <div class="border-form">
                    <!--Formulario de perfil-Games-->
                    

                    <label class="form-label">Games</label><br>
                    <div *ngFor="let game of games">
                      <br *ngIf="!myGames.includes(game.name)">
                      <input *ngIf="!myGames.includes(game.name)" type="button" (click)="addGame(game.id)" class="btn btn-success" name="{{game.name}}" id="{{game.name}}" value="{{game.name}}">
                      <br *ngIf="!myGames.includes(game.name)">
                    </div>
                    <br>

                    

                    <!-- -------------------- -->
                    <br><br>                   

                
            </div>
          </div>

          <div *ngIf="profile" class="center col-md-8 col-sm-12">
            <div class="border-form">
                    <!--Formulario de perfil-->
                    

                    <label class="form-label">Interests</label><br>
                    <div *ngFor="let interest of interests">
                      <br *ngIf="!myInterests.includes(interest.name)">
                      <input *ngIf="!myInterests.includes(interest.name)" type="button" (click)="addInterest(interest.id)" class="btn btn-success" name="{{interest.name}}" id="{{interest.name}}" value="{{interest.name}}">
                      <br *ngIf="!myInterests.includes(interest.name)">
                    </div>

                    <!-- -------------------- -->
                    <br><br>                   

                
            </div>
          </div>

          <div class="border-form center">
            <input class="btn btn-success sepparate" type="submit" [disabled]="myForm.invalid" value="Change Profile">
            <a [routerLink]="['/logs/login']"><button  class="btn btn-danger sepparate">Cancel</button></a>
          </div>

      </div>
      <br>
      <br>
  </div>
</form>
