<form (ngSubmit)="save($event)" [formGroup]="myForm" class="backBlack white"> 
  <div class="container-flex center">
      <br>
      <div class="row ">
          <h1>Profile form</h1>
          <div class="center col-md-8 col-sm-12">
              <div class="border-form">
                      <!--Formulario de registro-->
                      

                      <label class="form-label">Gender</label><br>
                      <select id="gender" name="gender" formControlName="gender" required>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Non Binary</option>
                        <option value="4">Other</option>
                        <option value="5">Does not say</option>
                      </select>
                      <br>

                      <label class="form-label">Image</label><br>
                      <input class="sepparate form-control input" (change)="onFileChange($event)" type="file" id="image" name="image" formControlName="image">
                        
                      <br>
                      
                      <label class="form-label">Bio</label><br>
                      <textarea required class="sepparate form-control input" type="text" id="bio" name="bio" formControlName="bio" placeholder="Write about you"></textarea>
                      

                      <!-- -------------------- -->
                      <br><br>                   

                  
              </div>
          </div>
          <div class="border-form center">
            <input class="btn btn-success sepparate" type="submit" [disabled]="myForm.invalid" value="Register">
            <a [routerLink]="['/logs/login']"><button  class="btn btn-danger sepparate">Cancel</button></a>
        </div>
      </div>
      <br>
      <br>
  </div>
</form>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p><a [routerLink]="['/terms']">ESP Privacy policy / Legal terms</a></p>
          <p><a [routerLink]="['']">ENG Privacy policy / Legal terms</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>