<form (ngSubmit)="save($event)" [formGroup]="myForm" class="backBlack white"> 
  <div class="container center">
      <br>
      <div class="row">
          <h1>Profile form</h1>
          <sub>NOTE: Create a profile before using the tags at the right</sub>
          <br>
          <div class="col-md-4 col-sm-12">
              <div class="">
                      <!--Formulario de perfil-->
                      

                      <label class="form-label">Gender</label><br>
                      <select class="form-select input" id="gender" name="gender" formControlName="gender" required>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Non Binary</option>
                        <option value="4">Other</option>
                        <option value="5">Does not say</option>
                      </select>
                      <br>

                      <label class="form-label">Image</label><br>
                      <input class="sepparate form-control input" (change)="onFileChange($event)" type="file" id="image" name="image" formControlName="image">
                        
                      <br>
                      
                      <label class="form-label">Bio</label><br>
                      <textarea required class="sepparate form-control input" type="text" id="bio" name="bio" formControlName="bio" placeholder="Write about you"></textarea>
                      

                      <!-- -------------------- -->
                      <br><br>                   

                  
              </div>
          </div>
          <div class="border-form col-md-4 col-sm-12">
            <div class="container">
                <!--Formulario de perfil-->
                <div class="row">
                  <label class="form-label">Games</label><br>
                  <div class="col-lg-6" *ngFor="let game of games">
                    <input [disabled]="!profile" *ngIf="!myGames.includes(game.name)" type="button" (click)="addGame(game.id)" class="btn btn-success sepparate" name="{{game.name}}" id="{{game.name}}" value="{{game.name}}">
                    <input [disabled]="!profile" *ngIf="myGames.includes(game.name)" type="button" (click)="delGame(game.id)" class="btn btn-danger sepparate" name="{{game.name}}" id="{{game.name}}" value="{{game.name}}">
                    
                  </div>
                </div>
            </div>
          </div>

          <div class="border-form col-md-4 col-sm-12">
            <div class="container">
                <!--Formulario de perfil-->
                <div class="row">
                  <label class="form-label">Interests</label><br>
                  <div class="col-lg-6" *ngFor="let interest of interests">
                    <input [disabled]="!profile" *ngIf="!myInterests.includes(interest.name)" type="button" (click)="addInterest(interest.id)" class="btn btn-success sepparate" name="{{interest.name}}" id="{{interest.name}}" value="{{interest.name}}">
                    <input [disabled]="!profile" *ngIf="myInterests.includes(interest.name)" type="button" (click)="delInterest(interest.id)" class="btn btn-danger sepparate" name="{{interest.name}}" id="{{interest.name}}" value="{{interest.name}}">

                  </div>
                </div>
            </div>
          </div>

          <div class=" center">
            <input class="btn btn-success sepparate" type="submit" [disabled]="myForm.invalid" value="Change Profile">
            <a [routerLink]="['/logs/login']"><button  class="btn btn-danger sepparate">Cancel</button></a>
          </div>

      </div>
      <br>
      <br>
  </div>
</form>
