<div class="body backBlack" *ngIf="!post">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack white" *ngIf="post">
  <div class="container update">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 center">
        
        <!-- Tarjeta de cada post -->
        <div class="card center image-full" style="width: 18rem;">
          
          <img *ngIf="post.imgurl" src="{{ post.imgurl }}" class="card-img-top-full" alt="Image of the user ...">
          <!--Si no hay foto, una por defecto-->
          <img *ngIf="!post.imgurl" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="Image not found ...">
      
        </div>
        <a *ngIf="belong(post.userId.toString().toLowerCase())" [routerLink]="['/posts/update/', post.id]"><button  class="btn EZbtn sepparate">Modify</button></a>
        <a *ngIf="belong(post.userId.toString().toLowerCase())" [routerLink]="['/posts/delete/', post.id]"><button  class="btn EZbtn sepparate">Delete</button></a>
        <a [routerLink]="['/posts/list']"><button  class="btn EZbtn sepparate">Posts List</button></a>
        <!-- -------------------- -->


      </div>
      <div class="col-sm-12 col-xs-12 col-md-6">
        <p class="subtitle"><span class="title">USER:</span> {{ post.userId }}</p>
        
        <hr>
        <p class="subtitle"><span class="title">TITLE:</span> {{ post.title }}</p>

        <hr>
        <p class="subtitle"><span class="title">DESCRIPTION:</span> {{ post.description }} </p>

        <hr>
        <p class="subtitle"><span class="title">DATE:</span> {{ post.date[2] }}/{{post.date[1]}}/{{post.date[0]}} | {{post.date[3]}}:{{post.date[4]}} </p>

        <hr>
        <p class="subtitle"><span class="title" *ngFor="let trend of post.trendsList"> #{{ trend.trend.name }}, </span></p>

        <hr>
        <div class="subtitle" >
          <p class="title">COMMENTS:</p>
          <p *ngFor="let comment of post.comments">{{ comment.user }}: {{ comment.message }}</p>
        </div>
        <hr>
        <p class="subtitle"><span class="title">LIKES:</span> {{ post.likes.length }} </p>
      </div>
    </div>
  </div>
</div>  
