
<div class="body backBlack white">
  <p class="breadCramp">Post's List > User Post</p>
  <div class="container update">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 center">
        
        <!-- Tarjeta de cada post -->
        <div class="card center image" style="width: 18rem;">
          
          <img *ngIf="post.imgurl" src="{{ post.imgurl }}" class="card-img-top" alt="Image of the user ...">
          <!--Si no hay foto, una por defecto-->
          <img *ngIf="!post.imgurl" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="Image not found ...">
      
        </div>
        <a [routerLink]="['/posts/update/', post.id]"><button  class="btn EZbtn sepparate">Modify</button></a>
        <a [routerLink]="['/posts/delete/', post.id]"><button  class="btn EZbtn sepparate">Delete</button></a>
        <a [routerLink]="['/posts/list']"><button  class="btn EZbtn sepparate">Return</button></a>
        <!-- -------------------- -->


      </div>
      <div class="col-sm-12 col-xs-12 col-md-6">
        <p class="subtitle"><span class="title">USER:</span> {{ post.user.username }}</p>
        
        <p class="subtitle"><span class="title">TITLE:</span> {{ post.title }}</p>

        <p class="subtitle"><span class="title">DESCRIPTION:</span> {{ post.description }} </p>

        <p class="subtitle"><span class="title">DATE:</span> {{ post.date[2] }}/{{post.date[1]}}/{{post.date[0]}} | {{post.date[3]}}:{{post.date[4]}} </p>

        <p class="subtitle"><span class="title" *ngFor="let trend of post.trendsList"> #{{ trend.trend.name }}, </span></p>
      </div>
    </div>
  </div>
</div>  

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>