<div class="body backBlack" *ngIf="!post">
  <div class="grande center">
    <span class="loader center"></span>
  </div>
</div>

<div class="body backBlack white" *ngIf="post">
  <div class="container-flex update">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 center">
        <!-- Tarjeta de cada post -->
        <div class="center container-flex">
          <div class="row">
            <img *ngIf="post.imgurl" src="{{ post.imgurl }}" class="card-img-top-full" alt="Image of the user ...">
            <!-- Si no hay foto, una por defecto -->
            <img *ngIf="!post.imgurl" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top-full" alt="Image not found ...">
          </div>
        </div>
        <a [routerLink]="['/posts/update/', post.id]"><button class="btn EZbtn sepparate">Modify</button></a>
        <a [routerLink]="['/posts/delete/', post.id]"><button class="btn EZbtn sepparate">Delete</button></a>
        <a [routerLink]="['/posts/list']"><button class="btn EZbtn sepparate">Posts List</button></a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6">
        <p class="subtitle"><span class="title">USER:</span> {{ post.userId }}</p>
        
        <hr>
        <p class="subtitle"><span class="title">TITLE:</span> {{ post.title }}</p>

        <hr>
        <p class="subtitle"><span class="title">DESCRIPTION:</span> {{ post.description }}</p>

        <hr>
        <p class="subtitle"><span class="title">DATE:</span> {{ post.date[2] }}/{{post.date[1]}}/{{post.date[0]}} | {{post.date[3]}}:{{post.date[4]}}</p>

        <hr>
        <p class="subtitle"><span class="title" *ngFor="let trend of post.trendsList"> #{{ trend.trend.name }}, </span></p>

        <hr>
        <p class="subtitle"><span class="title">LIKES:</span> {{ likes }} <button (click)="addLike(post.id)" title="Press to 'Like' this post" class="btn btn2 white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </button></p>
        
        <hr>
        <div class="subtitle">
          <div class="submit-comment">
            <input type="text" class="form-control form-control-post" title="Press 'ENTER' to submit" (keydown.enter)="submitNewComment(post.id)" id="comment" [(ngModel)]="comment" name="comment" placeholder="Put a new comment...">
          </div>
          <br>
          <p class="title">COMMENTS:</p>
          <div class="overflow-auto comments-container">
            <p class="margin" *ngFor="let comment of commentsList">{{ comment.user }}: {{ comment.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
