<h2>Logs</h2>
<ul class="list-group">

    <a class="list-group-item" [routerLink]="['logs/login']" routerLinkActive="active">Logs - Login</a>
    <a class="list-group-item" [routerLink]="['logs/logout']" routerLinkActive="active">Logs - Logout</a>
    <a class="list-group-item" [routerLink]="['logs/register']" routerLinkActive="active">Logs - Register</a>

</ul>
<hr>
<h2>Posts</h2>
<ul class="list-group">

    <a class="list-group-item" [routerLink]="['posts/list']" routerLinkActive="active">Posts - list</a>
    <a class="list-group-item" [routerLink]="['posts/add']" routerLinkActive="active">Posts - add</a>
    <a class="list-group-item" [routerLink]="['posts/delete/1']" routerLinkActive="active">Posts - delete</a>
    <a class="list-group-item" [routerLink]="['posts/post/1']" routerLinkActive="active">Posts - post</a>
    <a class="list-group-item" [routerLink]="['posts/update/1']" routerLinkActive="active">Posts - update</a>

</ul>
<hr>
<h2>Trends</h2>
<ul class="list-group">

    <a class="list-group-item" [routerLink]="['trends/list']" routerLinkActive="active">Trends - list</a>
    <a class="list-group-item" [routerLink]="['trends/delete/1']" routerLinkActive="active">Trends - delete</a>
    <a class="list-group-item" [routerLink]="['trends/trend/1']" routerLinkActive="active">Trends - trend</a>
    <a class="list-group-item" [routerLink]="['trends/update/1']" routerLinkActive="active">Trends - update</a>

</ul>
<hr>
<h2>Users</h2>
<ul class="list-group">

    <a class="list-group-item" [routerLink]="['users/list']" routerLinkActive="active">Users - list</a>
    <a class="list-group-item" [routerLink]="['users/add']" routerLinkActive="active">Users - add</a>
    <a class="list-group-item" [routerLink]="['users/delete/1']" routerLinkActive="active">Users - delete</a>
    <a class="list-group-item" [routerLink]="['users/user/1']" routerLinkActive="active">Users - user</a>
    <a class="list-group-item" [routerLink]="['users/update/1']" routerLinkActive="active">Users - update</a>

</ul>