.header{
    background: rgb(2,0,36);
    background: linear-gradient(200deg, rgba(0,0,0) 40%, rgba(255,0,0,0.9284664549413515) 100%);
}

.nav-item{
    width: 140px;
    max-width: 140px;
    text-align: center;
}

.logo{
    align-items: center;
    margin-top: 25px;
    padding: 3%;
    border-radius: 350px;
}

.white{
    color: aliceblue;
}

nav div ul li a:hover{
    color: white;
    background-color: black;
    max-width: 300px;
    border-radius: 15px;
}

nav div a{
    max-width: 300px;
    border-radius: 15px;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.EZbtn{
    background-color: rgba(108, 0, 0, 0.801);
    color: white;
    border-color: aliceblue;
    border-width: 2px;
}

sub{
    color: blueviolet;
}
    
.title{
    color: bisque;
    font-size: 50px;
}
.subtitle{
    color: bisque;
    font-size: 42px;
}

.center{
    text-align: center;
    margin: auto;
}

.active{
    background-color: red;
    text-align: center;
}

.terms{
    color: bisque;
    padding: 3%;
}

.logged-div{
    text-align: center;
    margin: auto;
    padding: auto;
    color: white;
}

.logged-div-sm{
    text-align: center;
    margin: auto;
    padding: auto;
    color: white;
    width: 80%;
}

.logged{
    color: red;
    text-align: center
    
}

.text-center{
    text-align: center;
}

.border-logged{
    border: 5px;
    border-style: outset;
    border-radius:45px;
    background-color: black;
}


/* Scroll horizontal */
.scrollbar-color:hover{
    scrollbar-base-color: red;
    cursor: grab;
}

.navbar-container {
    overflow-x: auto;
    white-space: nowrap;
  }

/* Cambiar el color de la barra de desplazamiento */
.scrollable::-webkit-scrollbar {
    width: 15px; /* Ancho de la barra de desplazamiento */
  }
  
  .scrollable::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 61); /* Color de la barra de desplazamiento */
    border-radius: 6px; /* Radio de borde de la barra de desplazamiento */
  }
  
  /* Cambiar el color de la pista de la barra de desplazamiento */
  .scrollable::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista de la barra de desplazamiento */
  }
  
  .scrollable::-webkit-scrollbar-track-piece {
    background-color: red; /* Color de la pista de la barra de desplazamiento */
  }
/*  */