<div *ngIf="!error" class="container-flex white backBlack">
    <div class="row">
        <div class="col-lg-4 center">
            <h1>GREAT</h1>
            <hr>
            <p>Now, your account has been verified</p>
            <p>Now you may close this window.</p>
            <a [routerLink]="['/logs/login']"><button class="btn btn-success">Return to login</button></a>
            
        </div>
    </div>
</div>

<div *ngIf="error" class="container- white backBlack">
  <div class="row">
      <div class="col-lg-4 center">
          <h1>Oh no</h1>
          <hr>
          <p>This account do not exists...</p>
          <p>Or maybe an error has occurred</p> 
          <a [routerLink]="['/logs/login']"><button class="botones btn btn-success">Return to login</button></a>
          <br><br>
      </div>
  </div>
</div>
