<div class="container-flex center backBlack white">
    <br>
    <br><br>
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-8">
            <form class="border-form">
              <br><br>
                    <h3>"An error has appeaded. Maybe you entered a private page"</h3>
                    <a [routerLink]="['/posts/list']"><button class="btn btn-danger sepparate">Return</button></a> 
              <br><br>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <br><br><br><br><br><br><br>
</div>

<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p><a [routerLink]="['/terms']">ESP Privacy policy / Legal terms</a></p>
          <p><a [routerLink]="['']">ENG Privacy policy / Legal terms</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>
