<div class="container-flex center backBlack white">
    <br>
    <br><br>
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-8 white">
            <form class="border-form">
              <br><br>
                    <h3>"An error has occurred. Maybe you entered a private page..."</h3>
                    <a [routerLink]="['/logs/login']"><button class="btn btn-success botones">Return</button></a> 
              <br><br>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <br><br><br><br><br><br><br>
</div>

