<div class="container-flex center backBlack white">

    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 center">
            <h1>Login</h1>

            
            <form (ngSubmit)="login()" method="post" #myForm="ngForm" class="border-form">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 col-lg-2 center">
                            <label class="form-label">*Username</label><br>
                        </div>
                        <div class="col-md-12 col-lg-10 center">
                            <input class="form-control input" required type="text" id="username" [(ngModel)]="username" name="username" minlength="1" placeholder="My Username">
                            <span class="form-text text-danger" *ngIf="notValid('username') || errorLogin">
                                Username is required
                            </span>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-12 col-lg-2 center">
                            <label class="form-label">*Password</label><br>
                        </div>
                        <div class="col-md-12 col-lg-10 center">
                            <input class="sepparate form-control input" required type="password" id="password" [(ngModel)]="password" name="password" minlength="1" placeholder="My Password">          
                            <span class="form-text text-danger" 
                                *ngIf="notValid('password') || errorLogin">
                                Password is required
                            </span>
                        </div>
                    
                    </div>
                    <div class="row div-botones">

                        <div class="col-md-3 col-sm-3"><!-- SEPARACION --></div> 
                        
                        <div class="col-md-2 col-sm-2">
                            <input class="botones btn btn-success" [disabled]="myForm.invalid" type="submit" value="Login"> 
                        </div>
                            
                        <div class="col-md-1 col-sm-1"><!-- SEPARACION --></div>
                        <div class="col-md-1 col-sm-1"><!-- SEPARACION --></div>

                        <div class="col-md-2 col-sm-2">
                            <input class="botones btn btn-danger" type="reset" value="Cancel">
                        </div>
                            
                        <div class="col-md-3 col-sm-3"><!-- SEPARACION --></div>
                    
                    </div>
                    <div class="row">  
                        <div class="col-md-12">
                            <p>You don't have an account?
                            <a [routerLink]="['/logs/register']" routerLinkActive="active">Register now</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>