<div class="container-flex center backBlack white">
    <div class="header">
        <h1 class="title">Ez Dates</h1>
        <h5 class="subtitle">"Find your duo to get the win"</h5>
        <hr>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-6 center">
            <h1>Login</h1>
            <form (ngSubmit)="login()" method="post" #myForm="ngForm" class="border-form">
                    <label class="form-label">UserName</label><br>
                    <input class="sepparate form-control input" required type="text" id="username" [(ngModel)]="username" name="username" minlength="1" placeholder="example username">
                    
                    <br>
                    
                    <label class="form-label">Password</label><br>
                    <input class="sepparate form-control input" required type="password" id="password" [(ngModel)]="password" name="password" minlength="1" placeholder="Enter your password here...">
                                                
                    <span class="form-text text-danger" 
                          *ngIf="notValid('password') || errorLogin">
                          Email or password are not correct
                    </span>

                    <br><br>

                    <input class="btn btn-success sepparate" [disabled]="myForm.invalid" type="submit" value="Login"> 
                    <input class="btn btn-danger sepparate" type="reset" value="Cancel">
                                                
                    

                    <br>
                    
                    <p>You don't have an account?
                    <a [routerLink]="['/logs/register']" routerLinkActive="active">register now</a>
                    </p>
            </form>
            <br>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="footer">
    <div class="container-flex">
      <div class="row">
        <div class="col center bg-black">
          
          <div class="terms">
            <p>Legal terms</p>
            <p>Privacy policy</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>