/* You can add global styles to this file, and also import other style files */
.active{
    background-color: red;
    text-align: center;
    border-radius: 15px;
}


img{
    border-radius: 15px;
    padding: 0%;
    margin: auto;
}