/* You can add global styles to this file, and also import other style files */
.active{
    background-color: red;
    text-align: center;
    border-radius: 15px;
}


img{
    border-radius: 15px;
    padding: 0%;
    margin: auto;
}

.breadCramp{
    color: aliceblue;
    background: rgb(2,0,36);
    background: linear-gradient(350deg, rgba(0,0,0) 20%, rgba(255,0,0,0.9284664549413515) 100%);
}