
<div *ngIf="user" class="body backBlack ">
  <div class="container  backBlack update">
    <div class="row white">
      <div class="col-sm-12 col-xs-12 col-md-6 center">
        <!-- Tarjeta de cada foto de user -->
        <div class="card center backBlack foto">
          
          <div class="profile-img" *ngIf="profile">
            <img *ngIf="profile.image" src="{{profile.image}}" class="card-img-top" alt="Image of the user ...">
          
            <img *ngIf="!profile.image" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="User don´t have image">

          </div>
          
          <div *ngIf="!profile">
            <img src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="Image of the user ...">
          </div>

        </div>
        <a *ngIf="belong(user[0].username) || role=='ADMIN_ROLE'" [routerLink]="['/users/update/', user[0].username]"><button  class="btn EZbtn sepparate">Modify</button></a>
        <a *ngIf="belong(user[0].username) || role=='ADMIN_ROLE'" [routerLink]="['/users/delete/',user[0].username]"><button  class="btn EZbtn sepparate">Delete</button></a>
        <a [routerLink]="['/users/list']"><button  class="btn EZbtn sepparate">User List</button></a>
        <!-- -------------------- -->
      </div>
      
      <br>

      <!-- Followers e información -->
      <div class="col-sm-12 col-xs-12 col-md-6">
        <br>
        <div class="follows" *ngIf="userName != username">
          
          <a *ngIf="!followers.includes(user[0].username)"  (click)="follow(user[0].username)"><button  class="btn btn-success sepparate">Follow</button></a>
          <a *ngIf="followers.includes(user[0].username)" (click)="unfollow(user[0].username)"><button  class="btn btn-danger sepparate">UnFollow</button></a>
        </div>
        
        <div class="center follows" *ngIf="userName == username">
          <h3>Your profile</h3>
          <div class="row center">
            <div class="col-sm-6">
              <span>FOLLOWERS</span>
              <p>{{ follows.length }}</p>
            </div>
            <div class="col-sm-6">
              <span>FOLLOWS</span>
              <p>{{ followers.length }}</p>
            </div>
          </div>
        </div>

        <!-- Si hay perfil -->
        <div *ngIf="profile" class="container-flex">
          <div class="row">
            <div class="col-12">
              <p class="subtitle"><span class="title">USERNAME:</span> {{profile.username}}</p>
            </div>
            <hr>
            <div class="col-12">
              <p class="subtitle"><span class="title">NAME:</span> {{user[0].name}} </p>
            </div>
            <hr>
            <div class="col-12">
              <p class="subtitle"><span class="title">SURNAME:</span> {{user[0].surname}}</p>
            </div>
            <hr>
            <div class="col-12">
              <p *ngIf="profile.gender==1" class="subtitle"><span class="title">GENDER:</span> Male </p>
              <p *ngIf="profile.gender==2" class="subtitle"><span class="title">GENDER:</span> Female </p>
              <p *ngIf="profile.gender==3" class="subtitle"><span class="title">GENDER:</span> Non Binary </p>
              <p *ngIf="profile.gender==4" class="subtitle"><span class="title">GENDER:</span> Other </p>
              <p *ngIf="profile.gender==5" class="subtitle"><span class="title">GENDER:</span> Does not say </p>  
            </div>
            <hr>
            <div class="col-12">
              <p class="subtitle"><span class="title">BIO:</span> {{profile.bio}}</p>
            </div>
            <hr>
            <div class="col-12">
              <span class="title">GAMES I LIKE:</span>
            </div>
            <div *ngFor="let game of games" class="col-sm-6">
              <p class="center subtitle"> {{game}} </p>
            </div>
            <hr>
            <div class="col-12">
              <span class="title">INTERESTS I HAVE:</span>
            </div>
            <div *ngFor="let interest of interests" class="col-sm-6">
              <p class="center subtitle"> {{interest}} </p>  
            </div>
          </div>
        </div>

        <!-- Si no hay perfil -->
        <div *ngIf="!profile">
          <p class="subtitle"><span class="title">USERNAME:</span> {{user[0].username}}</p>

          <p class="subtitle"><span class="title">NAME:</span> {{user[0].name}} </p>

          <p class="subtitle"><span class="title">SURNAME:</span> {{user[0].surname}}</p>
        </div>
        


      </div>
      <!-- ----------------------- -->

    </div>
    <hr style="color: aliceblue;">
    
    <!-- Lista de posts -->
    <div class="row galery">
        <!-- Tarjeta de cada post -->
        <div *ngFor="let post of listaPosts" class="galery-img">
          <div class="card" style="width: 18rem;">
            <div class="profile-link-badge">
              <a class="profile-link center" title="Profile link" [routerLink]="['/users/user/', post.userId]">{{ post.userId }}</a>
            </div>
            <a title="Link to the post" [routerLink]="['/posts/post/', post.id]" >
              <img *ngIf="post.imgurl" src="{{ post.imgurl }}" class="card-img-top" alt="Image of the user ...">
              <!--Si no hay foto, una por defecto-->
              <img *ngIf="!post.imgurl" src="https://res.cloudinary.com/dzr2fkubk/image/upload/v1674463603/404NotFound_lu44pl.png" class="card-img-top" alt="Image not found ...">
            </a>
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <hr>
              <!--TRENDS y LIKES-->
              <sub>
                <!--  -->
                <p class="row">
                  <a *ngIf="post.trendsList.length>0" class="btn btn2 backBlack white col-sm-6" title="Press to show trends" data-bs-toggle="collapse" href="#{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Trends
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                      <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                    </svg>
                  </a>
                  <a *ngIf="!post.trendsList.length" class="btn btn2 backBlack white col-sm-6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    No trends
                  </a>
                  <span class="col-sm-2"></span>
                  <button (click)="addLike(post.id)" title="Press to 'Like' this post" class="btn btn2 backBlack white col-sm-4">{{ post.likes.length }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                  </button>
                </p>
                <div class="collapse" id="{{post.id}}">
                  <div class="card card-body trend-gallery">
                    <input title="{{trend.trend.name}}" class="btn btn2 hashtag trend-gallery-img" [routerLink]="['/trends/trend', trend.trend.name]" type="button" value="#{{ trend.trend.name }}" *ngFor="let trend of post.trendsList">
                  </div>
                </div>
                <!--  -->
              </sub>
              <!---------->
              <hr>
              <p class="card-text">{{ post.description }}</p>
              <!--COMMENTS-->
              <sub>
                <!--  -->
                <p class="row">
                  <a class="btn btn2 backBlack white" data-bs-toggle="collapse" title="Press to show comments" href="#{{post.id}}comments" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Show Comments
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                  </a>
                </p>

                <!--  -->
              </sub>
              <div class="collapse" id="{{post.id}}comments">
                <div class="submit-comment">
                  <input type="text" class="form-control" title="Press 'ENTER' to submit " (keydown.enter)="submitNewComment(post.id)" id="comment" [(ngModel)]="comment" name="comment" placeholder="Put a new comment...">
                </div>                  
                <div class="comment-section card card-body comments-container">
                  <div class="comment" *ngFor="let comment of post.comments">
                    <label *ngIf="comment" class="comment-user">{{comment.user}}:</label>
                    <span *ngIf="comment" readonly class="comment" name="commentsList" id="commentsList">  {{ comment.message }} </span>
                  </div>
                </div>
              </div>
              <!------------>
              <p class="date">{{ post.date[2] }}/{{post.date[1]}}/{{post.date[0]}} | {{post.date[3]}}:{{post.date[4]}}</p>
            </div>
          </div>
        </div>
        <!-- -------------------- -->
    </div>
    <!-- -------------- -->
  </div>
</div>
