<div class="container-flex">
    <!--HEADER-->
    <div class="header row">
        <div class="center col-md-3 col-sm-4 col-xs-2">
            <img class="logo" src="../../../assets/serverdedisc.png" alt="Logo de EZdates">
        </div>
        <div class="col-sm-8 col-md-9 center">
            <h1 class="title">Ez Dates</h1>
            <h5 class="subtitle">"Find your duo to get the win"</h5>
        </div>
    </div>  

    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">
            Menu: 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  Logs Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" [routerLink]="['/logs/login']" routerLinkActive="active">Login</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/logs/logout']" routerLinkActive="active">Logout</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/logs/register']" routerLinkActive="active">Register</a></li>
                </ul>
              </li>
            </ul>
            
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  Posts Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" [routerLink]="['/posts/list']" routerLinkActive="active">List</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/posts/add']" routerLinkActive="active">Add</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/posts/delete/1']" routerLinkActive="active">Delete</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/posts/post/1']" routerLinkActive="active">Post</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/posts/update/1']" routerLinkActive="active">Update</a></li>
                </ul>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  Trends Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" [routerLink]="['/trends/list']" routerLinkActive="active">List</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/trends/delete/1']" routerLinkActive="active">Delete</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/trends/trend/1']" routerLinkActive="active">Trend</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/trends/update/1']" routerLinkActive="active">Update</a></li>
                </ul>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  User Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" [routerLink]="['/users/list']" routerLinkActive="active">List</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/users/add']" routerLinkActive="active">Add</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/users/delete/1']" routerLinkActive="active">Delete</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/users/user/1']" routerLinkActive="active">User</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/users/update/1']" routerLinkActive="active">Update</a></li>
                </ul>
              </li>
            </ul>


          </div>
        </div>
      </nav>  
      <!---->
</div>



<div class="footer">
  <div class="container-flex">
    <div class="row">
      <div class="col center bg-black">
        
        <div class="terms">
          <p>Legal terms</p>
          <p>Privacy policy</p>
        </div>
        
      </div>
    </div>
  </div>
</div>