<div class="container-flex center backBlack white">
    <div class="header">
        <h1 class="title">Ez Dates</h1>
        <h5 class="subtitle">"Find your duo to get the win"</h5>
        <hr>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-8">
            <form class="border-form">
              <br><br>
                    <h5>"Are you sure you want to log out?"</h5>
                    <a (click)="logout()"><button class="btn btn-success sepparate">Log out</button></a> 
                    <a [routerLink]="['/posts/list']"><button class="btn btn-danger sepparate">Return</button></a> 
              <br><br>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <br><br><br><br><br><br><br>
</div>

<div class="footer">
    <div class="container-flex">
      <div class="row">
        <div class="col center bg-black">
          
          <div class="terms">
            <p>Legal terms</p>
            <p>Privacy policy</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>