<div class="container-flex center">
    <div class="header">
        <h1 class="title">Ez Dates</h1>
        <h5 class="subtitle">"Find your duo to get the win"</h5>
        <hr>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-8">
            <form class="border-form">
                    <h5>"Are you sure you want to log out?"</h5>
                    <a [routerLink]="['/logs/login']"><button class="btn btn-success sepparate">Log out</button></a> 
                    <a [routerLink]="['/posts/list']"><button class="btn btn-danger sepparate">Return</button></a> 
                    
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>